<div class="field is-narrow">
  <div class="control">
    <div class="<%= options[:class] %>">
      <%= bulma_form_or_object_component form_or_object, :select, field_name, choices, options, html_options %>
    </div>
  </div>
</div>