<% additional_field_classes ||= '' %>
<div class="field <%= additional_field_classes %>">
  <div class="control">
    <%= bulma_form_or_object_component form_or_object, method, field_name, options %>
  </div>
</div>